# Ignore build output directories
**/dist/
**/node_modules/
deployment/common-constructs/VideoAnalyticsCommonConstruct/dist/
deployment/common-constructs/VideoAnalyticsCommonConstruct/node_modules/
*.DS_Store
*.vscode
.idea/


