{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.videoanalytics#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.videoanalytics#AiEvent": {
            "type": "enum",
            "members": {
                "INTRUSION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTRUSION"
                    }
                },
                "CROSSLINE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CROSSLINE"
                    }
                },
                "MOTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MOTION"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#AiEventList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics#AiEvent"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.videoanalytics#CertificateId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^(0x)?[a-fA-F0-9]+$"
            }
        },
        "com.amazonaws.videoanalytics#Condition": {
            "type": "structure",
            "members": {
                "connectivityStatus": {
                    "target": "com.amazonaws.videoanalytics#ConnectivityStatusList"
                },
                "state": {
                    "target": "com.amazonaws.videoanalytics#DeviceStateList"
                },
                "aiEvent": {
                    "target": "com.amazonaws.videoanalytics#AiEventList"
                }
            }
        },
        "com.amazonaws.videoanalytics#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.videoanalytics#ConnectivityStatus": {
            "type": "enum",
            "members": {
                "ON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ON"
                    }
                },
                "OFF": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OFF"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#ConnectivityStatusList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics#ConnectivityStatus"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.videoanalytics#DeleteDevice": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics#DeleteDeviceRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics#DeleteDeviceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/delete-device"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics#DeleteDeviceRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics#DeleteDeviceResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics#Destination": {
            "type": "structure",
            "members": {
                "sns": {
                    "target": "com.amazonaws.videoanalytics#Sns",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#Device": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics#DeleteDevice"
                },
                {
                    "target": "com.amazonaws.videoanalytics#GetCreateDeviceStatus"
                }
            ]
        },
        "com.amazonaws.videoanalytics#DeviceId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9:_\\-]+$"
            }
        },
        "com.amazonaws.videoanalytics#DeviceState": {
            "type": "enum",
            "members": {
                "PROVISIONED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROVISIONED"
                    }
                },
                "REGISTRATION_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REGISTRATION_IN_PROGRESS"
                    }
                },
                "REGISTERED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REGISTERED"
                    }
                },
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "DEREGISTRATION_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEREGISTRATION_IN_PROGRESS"
                    }
                },
                "CREATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATED"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#DeviceStateList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics#DeviceState"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.videoanalytics#EventCategory": {
            "type": "enum",
            "members": {
                "CONNECTIVITY_STATUS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONNECTIVITY_STATUS"
                    }
                },
                "STATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STATE"
                    }
                },
                "AI_EVENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AI_EVENT"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceNotificationStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics#GetCreateDeviceNotificationStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics#GetCreateDeviceNotificationStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/get-create-device-notification-status/{jobId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceNotificationStatusRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceNotificationStatusResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                },
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId"
                },
                "ruleId": {
                    "target": "com.amazonaws.videoanalytics#RuleId"
                },
                "errorMessage": {
                    "target": "smithy.api#String"
                },
                "status": {
                    "target": "com.amazonaws.videoanalytics#Status"
                },
                "createTime": {
                    "target": "smithy.api#Timestamp"
                },
                "modifiedTime": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics#GetCreateDeviceStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics#GetCreateDeviceStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/get-create-device-status/{jobId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceStatusRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateDeviceStatusResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                },
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId"
                },
                "status": {
                    "target": "com.amazonaws.videoanalytics#Status"
                },
                "createTime": {
                    "target": "smithy.api#Timestamp"
                },
                "modifiedTime": {
                    "target": "smithy.api#Timestamp"
                },
                "errorMessage": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateNotificationRuleStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics#GetCreateNotificationRuleStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics#GetCreateNotificationRuleStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/get-create-notification-rule-status/{jobId}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateNotificationRuleStatusRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics#GetCreateNotificationRuleStatusResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                },
                "ruleId": {
                    "target": "com.amazonaws.videoanalytics#RuleId"
                },
                "eventCategory": {
                    "target": "com.amazonaws.videoanalytics#EventCategory"
                },
                "condition": {
                    "target": "com.amazonaws.videoanalytics#Condition"
                },
                "destination": {
                    "target": "com.amazonaws.videoanalytics#Destination"
                },
                "errorDestination": {
                    "target": "com.amazonaws.videoanalytics#Destination"
                },
                "ruleDisabled": {
                    "target": "smithy.api#Boolean"
                },
                "errorMessage": {
                    "target": "smithy.api#String"
                },
                "status": {
                    "target": "com.amazonaws.videoanalytics#Status"
                },
                "createTime": {
                    "target": "smithy.api#Timestamp"
                },
                "modifiedTime": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics#IAMRoleArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):iam::(\\d{12})?:(role((\\u002F)|(\\u002F[\\u0021-\\u007F]+\\u002F))[\\w+=,.@-]+)$"
            }
        },
        "com.amazonaws.videoanalytics#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.videoanalytics#JobId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-z0-9\\-]+$"
            }
        },
        "com.amazonaws.videoanalytics#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.videoanalytics#RuleId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_]+$"
            }
        },
        "com.amazonaws.videoanalytics#Sns": {
            "type": "structure",
            "members": {
                "targetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#pattern": "^arn:aws[a-z0-9\\-]*:sns:[a-z0-9\\-]+:\\d{12}:([\\w\\-]{1,256})$"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.videoanalytics#IAMRoleArn"
                }
            }
        },
        "com.amazonaws.videoanalytics#Status": {
            "type": "enum",
            "members": {
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "CANCELLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELLED"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#ValidationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "reason": {
                    "target": "com.amazonaws.videoanalytics#ValidationExceptionReason",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "fieldList": {
                    "target": "com.amazonaws.videoanalytics#ValidationExceptionFieldList"
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.videoanalytics#ValidationExceptionField": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics#ValidationExceptionField"
            }
        },
        "com.amazonaws.videoanalytics#ValidationExceptionReason": {
            "type": "enum",
            "members": {
                "UNKNOWN_OPERATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "unknownOperation"
                    }
                },
                "CANNOT_PARSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cannotParse"
                    }
                },
                "FIELD_VALIDATION_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fieldValidationFailed"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "other"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics#VideoAnalytic": {
            "type": "service",
            "version": "2024-10-18",
            "resources": [
                {
                    "target": "com.amazonaws.videoanalytics#Device"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Video Analytic Guidance Solution"
            }
        }
    }
}
