{
    "smithy": "2.0",
    "shapes": {
        "com.aws.videoanalytic#CertificateId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^(0x)?[a-fA-F0-9]+$"
            }
        },
        "com.aws.videoanalytic#CreateDevice": {
            "type": "operation",
            "input": {
                "target": "com.aws.videoanalytic#CreateDeviceRequest"
            },
            "output": {
                "target": "com.aws.videoanalytic#CreateDeviceResponse"
            },
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/create-device"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.aws.videoanalytic#CreateDeviceRequest": {
            "type": "structure",
            "members": {
                "deviceName": {
                    "target": "smithy.api#String"
                },
                "uniqueDeviceIdentifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "certificateId": {
                    "target": "com.aws.videoanalytic#CertificateId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.aws.videoanalytic#CreateDeviceResponse": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.aws.videoanalytic#DeviceId"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.aws.videoanalytic#Device": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.aws.videoanalytic#CreateDevice"
                }
            ]
        },
        "com.aws.videoanalytic#DeviceId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9:_\\-]+$"
            }
        },
        "com.aws.videoanalytic#NoSuchResource": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.aws.videoanalytic#ServiceError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.aws.videoanalytic#ThrottlingError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client",
                "smithy.api#httpError": 429,
                "smithy.api#retryable": {}
            }
        },
        "com.aws.videoanalytic#VideoAnalytic": {
            "type": "service",
            "version": "2024-10-18",
            "resources": [
                {
                    "target": "com.aws.videoanalytic#Device"
                }
            ],
            "errors": [
                {
                    "target": "com.aws.videoanalytic#ServiceError"
                },
                {
                    "target": "com.aws.videoanalytic#ThrottlingError"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Video Analytic Guidance Solution"
            }
        }
    }
}
