.gradle
build/
bin/
!**/src/main/**/build/
!**/src/test/**/build/

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

!**/src/main/**/bin/
!**/src/test/**/bin/

.vscode
.DS_Store
.idea

# But don't ignore the wrapper files for build reproduction and consistency
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

