{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.videoanalytics.videologistics#ClientId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^(?!((A|a)(W|w)(S|s))_.*)[a-zA-Z0-9_.\\-]"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ConflictException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreateLivestreamSessionActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/create-livestream-session"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSessionRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "clientId": {
                    "target": "com.amazonaws.videoanalytics.videologistics#ClientId"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSessionResponse": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "com.amazonaws.videoanalytics.videologistics#SessionId"
                },
                "clientId": {
                    "target": "com.amazonaws.videoanalytics.videologistics#ClientId"
                },
                "iceServers": {
                    "target": "com.amazonaws.videoanalytics.videologistics#IceServerList"
                },
                "signalingChannelURL": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreatePlaybackSessionActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/create-playback-session"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSessionRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "startTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "endTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSessionResponse": {
            "type": "structure",
            "members": {
                "streamSources": {
                    "target": "com.amazonaws.videoanalytics.videologistics#StreamSources"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreateSnapshotUploadPath": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#CreateSnapshotUploadPathRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreateSnapshotUploadPathActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/create-snapshot-upload-path"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#CreateSnapshotUploadPathRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "checksum": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "contentLength": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#DetailedFailureReason": {
            "type": "document"
        },
        "com.amazonaws.videoanalytics.videologistics#ExportVideo": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#StartExportVideos"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#ExportVideoJobElement": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "exportVideoJobStatus": {
                    "target": "smithy.api#String"
                },
                "exportVideoJobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                },
                "failureReason": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#ExportVideoJobLists": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics.videologistics#ExportVideoJobElement"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#ExportVideosResult": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.videoanalytics#Status",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "failureReason": {
                    "target": "com.amazonaws.videoanalytics.videologistics#FailureReason"
                },
                "videoExportedPath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "startTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "endTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#ExportVideosResults": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics.videologistics#ExportVideosResult"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#FailureReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${GetVLRegisterDeviceStatusActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/get-vl-register-device-status/{jobId}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatusRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatusResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                },
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId"
                },
                "status": {
                    "target": "com.amazonaws.videoanalytics#Status"
                },
                "createTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "modifiedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "kvsStreamArns": {
                    "target": "com.amazonaws.videoanalytics#KVSStreamARNs"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#IceServer": {
            "type": "structure",
            "members": {
                "password": {
                    "target": "smithy.api#String"
                },
                "ttl": {
                    "target": "smithy.api#Float"
                },
                "uris": {
                    "target": "com.amazonaws.videoanalytics#StringList"
                },
                "username": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#IceServerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics.videologistics#IceServer"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#ImportMediaObject": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#ImportMediaObjectRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ImportMediaObjectActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/import-media-object"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#ImportMediaObjectRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "mediaObject": {
                    "target": "com.amazonaws.videoanalytics.videologistics#MediaObjectBlob",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#Inference": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#ImportMediaObject"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#JobRunTimeInMinutes": {
            "type": "double"
        },
        "com.amazonaws.videoanalytics.videologistics#LivestreamSession": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#CreateLivestreamSession"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#MediaObjectBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "max": 50000000
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#PeerConnectionState": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Pending"
                    }
                },
                "CONNECTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Connecting"
                    }
                },
                "CONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Connected"
                    }
                },
                "DISCONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Disconnected"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#PlaybackSession": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#CreatePlaybackSession"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#RegisterDevice": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#GetVLRegisterDeviceStatus"
                },
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDevice"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#SessionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-z0-9\\-]+$"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#Snapshot": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#CreateSnapshotUploadPath"
                }
            ]
        },
        "com.amazonaws.videoanalytics.videologistics#SourceInfo": {
            "type": "structure",
            "members": {
                "hLSStreamingURL": {
                    "target": "smithy.api#String"
                },
                "expirationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "peerConnectionState": {
                    "target": "com.amazonaws.videoanalytics.videologistics#PeerConnectionState"
                },
                "SignalingChannelURL": {
                    "target": "smithy.api#String"
                },
                "clientId": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#SourceType": {
            "type": "enum",
            "members": {
                "HLS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HLS"
                    }
                },
                "WEBRTC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WEBRTC"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartExportVideos": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#StartExportVideosRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics.videologistics#StartExportVideosResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "code": 200,
                    "method": "PUT",
                    "uri": "/start-export-videos"
                },
                "smithy.api#idempotent": {},
                "smithy.api#tags": [
                    "Facade:VideoLogisticsRoute"
                ]
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartExportVideosRequest": {
            "type": "structure",
            "members": {
                "startTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "endTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "device": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "exportS3Path": {
                    "target": "com.amazonaws.videoanalytics#S3Path",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartExportVideosResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDevice": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDeviceRequest"
            },
            "output": {
                "target": "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDeviceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.videoanalytics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.videoanalytics#ValidationException"
                }
            ],
            "traits": {
                "aws.apigateway#integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${StartVLRegisterDeviceActivity}/invocations",
                    "credentials": "arn:aws:iam::${AWS::AccountId}:role/VideoLogisticsApiGatewayRole"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/start-vl-register-device/{deviceId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDeviceRequest": {
            "type": "structure",
            "members": {
                "deviceId": {
                    "target": "com.amazonaws.videoanalytics#DeviceId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StartVLRegisterDeviceResponse": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.videoanalytics#JobId"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StreamSource": {
            "type": "structure",
            "members": {
                "sourceType": {
                    "target": "com.amazonaws.videoanalytics.videologistics#SourceType"
                },
                "source": {
                    "target": "com.amazonaws.videoanalytics.videologistics#SourceInfo"
                },
                "startTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            }
        },
        "com.amazonaws.videoanalytics.videologistics#StreamSources": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.videoanalytics.videologistics#StreamSource"
            }
        },
        "com.amazonaws.videoanalytics.videologistics#VideoAnalytic": {
            "type": "service",
            "version": "2024-10-18",
            "resources": [
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#Inference"
                },
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#LivestreamSession"
                },
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#PlaybackSession"
                },
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#RegisterDevice"
                },
                {
                    "target": "com.amazonaws.videoanalytics.videologistics#Snapshot"
                }
            ],
            "traits": {
                "aws.protocols#restJson1": {},
                "smithy.api#title": "Video Analytic Guidance Solution - Video Logistics"
            }
        }
    }
}
