.gradle
build/
gradle/
!**/src/main/**/build/
!**/src/test/**/build/

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

!**/src/main/**/bin/
!**/src/test/**/bin/

.vscode
.DS_Store
.idea

gradlew
gradlew.bat
